<form class="form-horizontal" action="/add_numbers_form" method="POST">
  <div class="control-group">
    <label class="control-label">Number A</label>
    <div class="controls">
      <input type="text" name="a" placeholder="Number A">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Number B</label>
    <div class="controls">
      <input type="text" name="b" placeholder="Number B">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button class="btn btn-primary" type="submit">Add Numbers</button>
    </div>
  </div>
</form>